@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

.filtro-table{
    display: flex;
    justify-content: start;
    color: #ff520d;
}

.conteudo-disparo-pesquisa{
    padding: 0;
    margin: 0;
    width: 100%;
}

.conteudo-disparo-pesquisa{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.conteudo-disparo-pesquisa{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
}

.conteudo-disparo-pesquisa{
    font-size: 18px;
    font-weight: 600;
}

.conteudo-disparo-pesquisa{
    font-size: 18px;
    font-weight: 600;
}

#footer-smart{
    position: static !important;
}

.font-size{
    color: #ff520d;
    font-weight: 700;
    font-size: 12px;
}

.table-solid th{
    background-color: #ff520de0;
    color: #ffffff;
}

.btn-disparar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}

.btn-smart{
    transition: transform 0.4s ease;
}

.btn-smart:hover {
    transform: translateY(-3px); 
  }

.underline{
    text-decoration: underline  #ff520de0;
    font-size: 20px;
    font-weight: 600px;
   
}
.nav-link active{
    color: #ff520d;
}

.text-modal{
    color: #ff520d;
    
}

.block-form{
    background-color: #383838;
    width: 100px;
    height: 100px;
}

.table-alert th{
    background-color: #313131d2;
    color: #ffffff;
    font-size: 8px;
    padding-left: 12px;
   
}

.tabelaLicenciados{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.cards-dados{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;

}

.cards-dados:hover{
    transform: translateY(-9px);

}

.table-modal th{
    color: #ff520d;
}
  
.table-overflow{
    max-height:400px;
    overflow-y:auto;
}
  
  

 

  

  




